/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about-padding{
  padding-top: 110px;
}
/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us-padding{
  padding-top: 10px;
}

/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Specials
--------------------------------------------------------------*/
.specials-padding{
  padding-top: 110px;
}

.specials-top{
  padding-top: 10px;
}
/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Book A Table
--------------------------------------------------------------*/
.book-a-table-padding{
  padding-top: 110px;
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Chefs
--------------------------------------------------------------*/
.chefs-padding{
  padding-top: 125px;
}

.title-search{
}

.title-search p{
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.logo-cont{
    align-items: center;
  text-align: center;
}

.logo-footer{
  width: 200px;
  height: 200px;
  border-radius: 10px;

}

/*--------------------------------------------------------------
# Tablas
--------------------------------------------------------------*/
.table-style{
  background-color: #cda45e;
  border-radius: 10px;
}

.card-dark{
  background-color: #1d1b16;
  margin: 5px;
}

.breadcrumbs-style{
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.modal-dark{
  background-color: #1d1b16;
}

.card-style{
  background-color: lightyellow;
  width: 200px;
  height: 50px;
  border-radius: 10px;

}

.logo-nav{
  border-radius: 10px;
}

.pagination-cont{
  margin-top: 10px;
  align-items: center;
  text-align: center;
}

.btn-style{
  margin: 5px;
}

.p-style{
  margin-top: 5px;
}

.div-style{
  margin: 10px;
}

.section-title-padding{
  padding-bottom: 0px;
}
.section-title-padding p{
  font-size: 30px;
}
.collapse-border{
  border-radius: 10px;
}
.container-button{
  padding-bottom: 10px;
}

.padding-bottom{
  padding-bottom: 0px;
}

.padding-top{
  padding-top: 0px;
}

.link-pad{
  padding: 0px;
}

.li-padding{
  padding-bottom: 10px;
}